Flask
gunicorn

langchain==0.3.27
langchain-core==0.3.78
langchain-community==0.3.31
langchain-huggingface==0.3.1
langchain-google-genai==2.1.12
langchain-text-splitters==0.3.11
sentence-transformers==2.2.2
transformers==4.44.2
huggingface-hub==0.25.2
torch==2.2.2

faiss-cpu==1.7.4

pypdf 
python-dotenv
